@font-face {
	font-family: "Clear Sans";
	src: url("../fonts/ClearSans/ClearSans-Regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Clear Sans";
	src: url("../fonts/ClearSans/ClearSans-Bold.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Clear Sans";
	src: url("../fonts/ClearSans/ClearSans-Light.woff2");
	font-weight: 200;
	font-style: normal;
}
