:root {
	--bg: #faf8ef;
	--text-dark: #776e65;
	--tile-dark: #776e65;
	--text-low-contrast: #eee4da;
	--text-light: #f9f6f2;
	--grid-bg: #bbada0;
	--score-bg: #bbada0;
	--btn-bg: #8f7a66;
	--hr: #d8d4d0;
	--empty-cell: #cdc1b4;

	--tile2: #eee4da;
	--tile4: #ede0c8;
	--tile8: #f2b179;
	--tile16: #f59563;
	--tile32: #f67c5f;
	--tile64: #f65e3b;
	--tile128: #edcf72;
	--tile256: #edcc61;
	--tile512: #edc850;
	--tile1024: #edc53f;
	--tile2048: #edc22e;
	--tile-super: #3c3a32;

	--tile128shadow: rgba(243, 215, 116, 0.2381);
	--tile256shadow: rgba(243, 215, 116, 0.31746);
	--tile512shadow: rgba(243, 215, 116, 0.39683);
	--tile1024shadow: rgba(243, 215, 116, 0.47619);
	--tile2048shadow: rgba(243, 215, 116, 0.55556);
}
